/*content, padding, margin, border, width, weight*/
.pic {
  width: 500px;
}
a.survey {
  background-color: cornflowerblue;
  margin: 150px 20px; /**inline 無法調整上下margin*/
}
.survey:hover {
  background-color: blue;
}
div.box1 {
  width: 50vw;
  height: 50vh;
  background-color: blue;
}
/*inline-block img, input, button, select, textarea*/
