div.container {
  width: 500px;
  height: 2000px;
  background-color: black;
}
.box {
  width: 200px;
  height: 200px;
}
.box1 {
  background-color: aquamarine;
  position: relative; /*static狀態下不能設定Z軸*/
  z-index: 3;
}
.box2 {
  background-color: blueviolet;
  position: relative; /*相對於自己*/
  /*bottom left right top*/
  left: 100px;
  bottom: 100px;
  z-index: 2;
}
.box3 {
  background-color: brown;
  position: relative;
  top: 50px;
  left: 100px;
  z-index: 1;
}
