div.container {
  width: 500px;
  height: 2000px;
  background-color: black;
  position: relative;
}
.box {
  width: 200px;
  height: 200px;
}
.box1 {
  background-color: aquamarine;
}
.box2 {
  background-color: blueviolet;
  position: sticky;
  width: 100%;
  top: 0;
}
.box3 {
  background-color: brown;
}
